[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow="*"
typer = {extras = ["all"], version = "*"}

[dev-packages]
pytest="*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
